<style>
    .table.table-bordered {
        border: none !important;
        border-color: #e3e6f0;
    }

    .table.table-bordered tbody tr td {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom-color: #e3e6f0;

    }

    .table.table-bordered thead tr th {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom-color: #e3e6f0;
    }

    #dataTable tbody td:hover {
        background-color: #abd3ff; /* Change to the color you want */
        cursor: pointer; /* Optional: changes the cursor to a pointer */
    }
</style>
<link rel="stylesheet" href="../static/css/chatbot.css">


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">챗봇</h1>
    <p class="mb-4">Chart.js is a third party plugin that is used to generate the charts in this theme.
        The charts below have been customized - for further customization options, please visit the <a
                target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js
            documentation</a>.</p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                </div>
                <div class="card-body">
                    <div class="chat-container">

                        <div class="messages-container" id="messages-container">

                            <!-- 채팅 메시지를 출력할 빈 div -->

                        </div>
                        <div class="input-container">
                            <input type="text" id="user-input" placeholder="Type your message..."
                                   onkeydown="handleInputKeyPress(event)">
                            <button id="send-button">Send</button>
                        </div>
                    </div>
                    <hr>
                    Styling for the area chart can be found in the
                    <code>/js/demo/chart-area-demo.js</code> file.
                </div>
            </div>

        </div>

    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3" style="margin-top: 20px;">
            <h5 class="m-0 font-weight-bold text-secondary">전일 전력수급실적</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Page Content</th>
                        <th>Similarity Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" style="background-color: #4e73df; float: right;">검색 결과 더보기
            </button>
        </div>
    </div>
<script src="../static/js/chat-bot-demo.js"></script>

</div>