<style>
    .table.table-bordered {
        border: none !important;
        border-color: #e3e6f0;
    }

    .table.table-bordered tbody tr td {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom-color: #e3e6f0;

    }

    .table.table-bordered thead tr th {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom-color: #e3e6f0;
    }

    #dataTable tbody td:hover {
        background-color: #abd3ff; /* Change to the color you want */
        cursor: pointer; /* Optional: changes the cursor to a pointer */
    }


    .card-body p {
        /* 일반적인 문장 스타일 */
        color: black; /* 기본 글자색 */
        transition: color 0.3s ease; /* 색 변화에 대한 transition */
    }

    .card-body p:nth-of-type(1):hover {
        color: #1470d9;
    }

    .card-body p:nth-of-type(2):hover {
        color: #1470d9;
    }

    .card-body p:nth-of-type(3):hover {
        color: #1470d9;
    }

    .card-body p:nth-of-type(4):hover {
        color: #1470d9;
    }

    .card-body p:nth-of-type(5):hover {
        color: #1470d9;
    }

    .card-body p:nth-of-type(6):hover {
        color: #1470d9;
    }

    .card-body p:nth-of-type(7):hover {
        color: #1470d9;
    }

</style>
<link rel="stylesheet" href="../static/css/chatbot.css">


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">분산 에너지사업 특화 생성형 AI</h1>
    <p class="mb-4">분산 에너지사업에 특화된 LLM(대규모 언어모듈)을 구축하여,
        전력 거래 데이터, 분산 에너지법 등 방대한 전력 서비스 관련 데이터를 바탕으로
        강력한 인공지능 기반 답변 솔루션을 제공하여 원활한 전력 서비스 사업을 보조합니다.</p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-8 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-secondary">생성형 AI</h5>
                </div>
                <div class="card-body">
                    <div class="chat-container">

                        <div class="messages-container" id="messages-container">

                            <!-- 채팅 메시지를 출력할 빈 div -->

                        </div>
                        <div class="input-container">
                            <input type="text" id="user-input" placeholder="Type your message..."
                                   onkeydown="handleInputKeyPress(event)">
                            <button id="send-button">Send</button>
                        </div>
                    </div>
                    <hr>
                    * 전력거래소 관리 AI는 실수를 할 수 있습니다. 아래에서 대답에 대한 근거자료를 확인하세요.
                </div>
            </div>

        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">


                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-secondary">자주 묻는 질문</h5>
                </div>
                <div class="card-body">

                    <p class="mb-0">Q. 분산 에너지 특별법이 무엇이고 우리 삷에 어떤 영향을 끼치나요?</p><br>
                    <p class="mb-0">Q. 신재생에너지 RPS 제도, REC, SMP란 무엇인가요?</p><br>
                    <p class="mb-0">Q. REC 계약시장과 현물시장이 무엇인가요? (feat. RE100 거래시장)</p><br>
                    <p class="mb-0">Q. SMP 상한제란 무엇인가요?</p><br>
                    <p class="mb-0">Q. 태양광 패널의 빛 반사가 눈부심을 유발하지는 않나요?</p><br>
                    <p class="mb-0">Q. RE100 이행 방법 중 직접 PPA, 제3자 PPA란 무엇인가요?</p><br>
                    <p class="mb-0">Q. 전력판매대금(SMP) 정산은 어떻게 하나요?</p>
                </div>

            </div>
        </div>

    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3" style="margin-top: 20px;">
            <h5 class="m-0 font-weight-bold text-secondary">전일 전력수급실적</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Page Content</th>
                        <th>Similarity Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" style="background-color: #4e73df; float: right;">검색 결과 더보기
            </button>
        </div>
    </div>
    <script src="../static/js/chat-bot-demo.js"></script>

</div>