<style>

    .chart-area {
        width: 100%;

        height: auto;

        /*padding-bottom: 60%; /* 5:3 ratio*/
    }

    .text-center {
        text-align: center;
    }

    .form-control::placeholder {
        color: #858796;
    }

    .table.table-bordered {
        border: none !important;
        border-color: #e3e6f0;
    }

    .table.table-bordered tbody tr td {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom-color: #e3e6f0;

    }

    .table.table-bordered thead tr th {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom-color: #e3e6f0;
    }
</style>

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">실시간 전력수급현황 및 전력 예보</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> 분석 리포트 발행하기</a>
    </div>
    <p class="mb-4">기상관측 데이터를 활용한 인공지능 기반 예측 기법을 제안하여 기존 예측 모형 대비 정확도를 정량적으로 개선하여,<br>
        전력계통 운영의 안정성을 높이는 데 기여합니다.</p>

    <!-- Content Row -->
    <!--div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Annual)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->

    <!-- 메인 컨텐츠 부분 -->
    <!-- Area Chart -->
    <div class="card shadow mb-4">
        <div class="card-header py-3" style="margin-top: 20px;">
            <h5 class="m-0 font-weight-bold text-secondary">실시간 전력수급 및 전력 예보 그래프</h5>
        </div>

        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart" style="height:400px; width:100%;"></canvas>
            </div>
            <hr>
            * 실시간 전력수급현황은 5분주기 순시자료 입니다.
        </div>
    </div>

    <!-- datatables -->
    <div class="card shadow mb-4">
        <div class="card-header py-3" style="margin-top: 20px;">
            <h5 class="m-0 font-weight-bold text-secondary">전일 전력수급실적</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>1일전 전력</th>
                        <th>예측 전력</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="../static/js/chart-draw.js"></script>
</div>
<!-- /.container-fluid -->
