<style>
    .form-control::placeholder {
        color: #858796;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
    }

    .stock-chart-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .stock-info {
        margin-top: 50px;
        margin-left: 40px;
        text-align: left;
        font-size: 1.2em;
    }

    .button-container {
        margin-top: 20px;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>
<link rel="stylesheet" href="../static/css/chatbot.css">


<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3" style="margin-top: 5px;">
            <h2 class="text-center py-3 font-weight-bold text-secondary">전력 거래 종합 차트</h2>
        </div>
        <div class="container">

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <canvas id="stockChart" class="stock-chart"
                                style="height:400px; width:100%"></canvas>
                    </div>
                    <div class="col-lg-4">
                        <div class="stock-info">
                            <p class="price-info">전력 현재가 : <span id="currentPrice">N/A</span>원/kWh
                            </p>
                            <p class="price-info">전력 고가 : <span id="highPrice">N/A</span>원/kWh</p>
                            <p class="price-info">전력 저가 : <span id="lowPrice">N/A</span>원/kWh</p>
                        </div>
                        <div class="d-grid gap-2">
                            <div class="button-container">
                                <button class="btn btn-success btn-lg" onclick="buyStock()">매수</button>
                                <button class="btn btn-danger btn-lg" onclick="sellStock()">매도</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                Styling for the area chart can be found in the
                <code>/js/demo/chart-area-demo.js</code> file.
            </div>
        </div>


        <script>

            function buyStock() {
                alert("Stock bought!");
            }

            function sellStock() {
                alert("Stock sold!");
            }


        </script>
    </div>
    <!-- /.container-fluid -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="../static/js/chart-draw_smp.js"></script>
</div>